{{- with site.Params.profileMode }}
<style>
  :root {
    --gradient-from-1: #f43f5e;
    --gradient-to-1: #8b5cf6;
    --gradient-from-2: #f59e0b;
    --gradient-to-2: #ef4444;
  }

  .dark .logo img {
    filter: invert(1);
  }

  /**** gradient for headers ****/
  h1 {
    display: inline-block;
    color: #0000;
    background-image: linear-gradient(
      90deg,
      var(--gradient-from-1),
      var(--gradient-to-1)
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  h1::after {
    content: '';
    display: block;
  }

  /**** gradient ring around user picture ****/
  .profile_inner {
    position: relative;
  }

  .profile_inner::before {
    content: '';
    position: absolute;
    width: 168px;
    height: 168px;
    top: -4px;
    left: calc(50% - 84px);
    background-image: linear-gradient(to right, #f43f5e, #8b5cf6);

    z-index: -1;
    border-radius: 50%;
  }

  @media screen and (max-width: 768px) {
    .profile_inner::before {
      transform: scale(0.85);
    }
  }

  /**** fullname glitch animation ****/
  .anim-glitch {
    display: grid;
    grid-template-columns: 1fr;

    --stacks: 3;
    --glitch-color-1: lightcoral;
    --glitch-color-2: lightblue;
  }
  .dark .anim-glitch {
    --glitch-color-1: red;
    --glitch-color-2: blue;
  }

  .anim-glitch::before {
    content: '{{ .title | default site.Title | markdownify }}';
    --index: 0;
  }
  .anim-glitch::after {
    content: '{{ .title | default site.Title | markdownify }}';
    --index: 2;
  }
  [dir='rtl'] .anim-glitch::before,
  [dir='rtl'] .anim-glitch::after {
    content: 'محمود صاحبی';
  }

  .anim-glitch * {
    --index: 1;
  }

  .anim-glitch.anim-glitch.anim-glitch > *,
  .anim-glitch::before,
  .anim-glitch::after {
    font-size: 2.25rem;
    font-weight: bold;
    padding: 0;
    margin: 12px 0;
    line-height: 1.2;
    color: var(--primary);

    grid-row-start: 1;
    grid-column-start: 1;

    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 1000ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
        calc(var(--index) * 120ms + 600ms),
      glitch 2s ease infinite 2s alternate-reverse;
  }

  .anim-glitch *:nth-child(odd) {
    --glitch-translate: 8px;
  }
  .anim-glitch *:nth-child(even) {
    --glitch-translate: -8px;
  }

  @keyframes stack {
    0% {
      opacity: 0;
      transform: scaleY(0);
      text-shadow: -2px 3px 0 var(--glitch-color-1),
        2px -3px 0 var(--glitch-color-2);
    }
    60% {
      opacity: 0.5;
      transform: translateX(0.6);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 var(--glitch-color-1),
        -2px 3px 0 var(--glitch-color-2);
    }
    100% {
      text-shadow: none;
    }
  }

  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 var(--glitch-color-1),
        2px -3px 0 var(--glitch-color-2);
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 var(--glitch-color-1),
        -2px 3px 0 var(--glitch-color-2);
    }
    8%,
    100% {
      text-shadow: none;
      transform: none;
    }
  }
</style>
{{- end }}
